# Development / CI requirements
# Note: These packages are stored outside of the setup.py, to maintain a
# single source of truth, and allow the extras to be installed in isolation.
black==22.6.0
flake8==4.0.1
isort==5.8.0
wheel==0.42.0  # for PyPI installs
